body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: larger;
  font-weight: bold;
}

#box {
  display: block;
  width: 80%;
  margin: 2rem auto;
  font-style: italic;
}
